<div class="flex justify-center items-center min-h-screen">
  <form
    (ngSubmit)="handleOnSubmit()"
    class="w-full container bg-white p-8 shadow-md border-double border-[#618fac]"
  >
    <div class="space-y-12">
      <div class="border-b border-gray-900/10 pb-12">
        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
          <!-- URL Display -->
          <div class="sm:col-span-4">
            <label for="url" class="block text-sm/6 font-medium text-gray-900"
              >URL</label
            >
            <div class="mt-2">
              <div
                class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md"
              >
                <span
                  class="flex select-none items-center pl-3 text-gray-500 sm:text-sm"
                  >workcation.com/</span
                >
                <input
                  type="text"
                  id="url"
                  class="block flex-1 border-0 bg-transparent p-2 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm/6"
                  [value]="uuid"
                  readonly
                  disabled
                />
              </div>
            </div>
          </div>

          <!-- Http Status Dropdown -->
          <div class="sm:col-span-3">
            <label
              for="http_status_id"
              class="block text-sm/6 font-medium text-gray-900"
              >Http Status</label
            >
            <div class="mt-2">
              <select
                id="http_status_id"
                class="block w-full rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600"
                [(ngModel)]="http_status_id"
                name="http_status_id"
                required
              >
                <option
                  *ngFor="let item of http_status_list"
                  [value]="item.id"
                  [ngStyle]="{
                    'font-weight': item.is_important ? 'bold' : 'normal',
                    color: item.is_important ? '#2374ab' : 'black'
                  }"
                >
                  {{ item.code }} - {{ item.description }}
                </option>
              </select>
            </div>
          </div>

          <!-- Response Content Type Dropdown -->
          <div class="sm:col-span-3">
            <label
              for="http_response_type_id"
              class="block text-sm/6 font-medium text-gray-900"
              >Response Content Type</label
            >
            <div class="mt-2">
              <select
                id="http_response_type_id"
                class="block w-full rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600"
                [(ngModel)]="http_response_type_id"
                name="http_response_type_id"
                required
              >
                <option
                  *ngFor="let item of response_content_types"
                  [value]="item.id"
                  [ngStyle]="{
                    'font-weight': item.is_important ? 'bold' : 'normal',
                    color: item.is_important ? '#2374ab' : 'black'
                  }"
                >
                  {{ item.name }}
                </option>
              </select>
            </div>
          </div>

          <!-- Method Dropdown -->
          <div class="sm:col-span-3">
            <label
              for="method"
              class="block text-sm/6 font-medium text-gray-900"
              >Method</label
            >
            <div class="mt-2">
              <select
                id="method"
                class="block w-full rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600"
                [(ngModel)]="method"
                name="method"
                required
              >
                <option *ngFor="let item of methods" [value]="item">
                  {{ item }}
                </option>
              </select>
            </div>
          </div>

          <!-- Charset Dropdown -->
          <div class="sm:col-span-3">
            <label
              for="charset_id"
              class="block text-sm/6 font-medium text-gray-900"
              >Charset</label
            >
            <div class="mt-2">
              <select
                id="charset_id"
                class="block w-full rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600"
                [(ngModel)]="charset_id"
                name="charset_id"
                required
              >
                <option
                  *ngFor="let item of charsets"
                  [value]="item.id"
                  [ngStyle]="{
                    'font-weight': item.is_important ? 'bold' : 'normal',
                    color: item.is_important ? '#2374ab' : 'black'
                  }"
                >
                  {{ item.name }}
                </option>
              </select>
            </div>
          </div>

          <!-- Request Header -->
          <div class="col-span-full">
            <label
              for="request_header"
              class="block text-sm/6 font-medium text-gray-900"
              >Request Header</label
            >
            <div class="mt-2">
              <textarea
                id="request_header"
                name="request_header"
                rows="5"
                [(ngModel)]="request_header"
                (ngModelChange)="validateJsonHeader()"
                placeholder="{ 'X-Foo-Bar': 'Hello World' }"
                class="block w-full rounded-md border-0 p-4 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600"
              ></textarea>
              <p
                class="mt-3 text-sm text-gray-600"
                *ngIf="isHeaderValid === false"
                style="color: red"
              >
                Invalid JSON
              </p>
              <p
                class="mt-3 text-sm text-gray-600"
                *ngIf="isHeaderValid === true"
                style="color: green"
              >
                Valid JSON
              </p>
            </div>
          </div>

          <!-- Request Body -->
          <div class="col-span-full">
            <label
              for="request_body"
              class="block text-sm/6 font-medium text-gray-900"
              >Request Body</label
            >
            <div class="mt-2">
              <textarea
                id="request_body"
                name="request_body"
                rows="5"
                [(ngModel)]="request_body"
                (ngModelChange)="validateJsonBody()"
                placeholder="{
                identity: {
                  id: 'b06cd03f-75d0-413a-b94b-35e155444d70',
                  login: 'John Doe',
                },
                data: {
                  roles: 'Admin',
                },
              }"
                class="block w-full rounded-md border-0 p-4 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600"
              ></textarea>
              <p
                class="mt-3 text-sm text-gray-600"
                *ngIf="isBodyValid === false"
                style="color: red"
              >
                Invalid JSON
              </p>
              <p
                class="mt-3 text-sm text-gray-600"
                *ngIf="isBodyValid === true"
                style="color: green"
              >
                Valid JSON
              </p>
            </div>
          </div>

          <div class="sm:col-span-3">
            <label for="name" class="block text-sm/6 font-medium text-gray-900"
              >Mock identifier</label
            >
            <div class="mt-2">
              <input
                type="text"
                id="name"
                class="block w-full rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600"
                [(ngModel)]="name"
                name="name"
              />
            </div>
          </div>

          <div class="sm:col-span-3">
            <label
              for="expireOption"
              class="block text-sm/6 font-medium text-gray-900"
              >Expire On</label
            >
            <div class="mt-2">
              <select
                id="expireOption"
                class="block w-full rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600"
                [(ngModel)]="expireOption"
                name="expireOption"
              >
                <option *ngFor="let item of expireOption" [value]="item.value">
                  {{ item.name }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-6 flex items-center justify-end gap-x-6">
      <button
        type="submit"
        class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        [disabled]="
          !isBodyValid ||
          !isHeaderValid ||
          !http_status_id ||
          !http_response_type_id ||
          !method ||
          !charset_id
        "
      >
        Save
      </button>
    </div>
  </form>
</div>
